<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class=""><%= link_to "アカウント", :users_show %></li>
        <li class="active"><%= link_to "プロフィール", :users_profile %></li>
      </ul>
    </div>
    <div class="col-lg-2 user-nav user-nav-mobile d-lg-none">
      <ul>
        <li class=""><%= link_to "アカウント", :users_show %></li>
        <li class="active"><%= link_to "プロフィール", :users_profile %></li>
      </ul>
    </div>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="icon-box">
                <% if @user.image? %>
                  <%= image_tag @user.image.url, :class => "icon-image host-icon" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= form_for(current_user, url: :users_profile, method: :patch) do |f| %>
        <div class="update-content">
          <div class="row">
          <%= f.label :image ,"アイコン画像",
                      :class => "col-md-3 required-a" %>
          <%= f.file_field :image,
                           :class => "mb-4 col-md-9" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
          <%= f.label :name ,"名前",
                      :class => "col-md-3 required-a" %>
          <%= f.text_field :name,
                           :class => "form-control mb-4 col-md-9",
                           :placeholder => "名前を入力" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
          <%= f.label :introduction ,"自己紹介",
                      :class => "col-md-3 required-a" %>
          <%= f.text_area :introduction,
                          :rows => "5",
                          :class => "form-control mb-4 col-md-9",
                          :placeholder => "自己紹介を入力" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.submit "更新", :class => "col-md-2 btn btn-primary mx-3" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
