<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
      <% if current_user.id == room.user_id %>
      <tr>
        <td><%= link_to image_tag("#{room.icon}"), "/rooms/#{room.id}", class: "room-posts-image" %></td>
        <td class="posts-name"><%= link_to "#{room.name}", "/rooms/#{room.id}" %></td>
        <td class="posts-content"><%= room.content %></td>
        <td class="price-icon"><%= room.price %></td>
        <td><%= room.created_at %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
