<div class="container-fiuld room-new">
  <div class="row">
    <div class="col-lg-2 room-nav room-nav-pc d-lg-block d-none">
      <ul>
        <li class="active"><a href="/rooms/new">基本情報</a></li>
      </ul>
    </div>
    <div class="col-lg-2 room-nav room-nav-mobile d-lg-none">
      <ul>
        <li class="active"><a href="/rooms/new">基本情報</a></li>
      </ul>
    </div>
    <div class="col-lg-10 room-view">
      <div class="room-view-box">
        <%= form_for @room, method: 'post', multipart: true do |f| %>
          <div class="update-content">
            <div class="row">
              <h5>ルーム情報登録</h5>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :name ,"ルーム名",
                          :class => "col-md-3 required-a" %>
              <%= f.text_field :name,
                               :placeholder => "ルーム名を入力",
                               :class => "form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row"> 
              <%= f.label :content ,"ルーム紹介",
                          :class => "col-md-3 required-a" %>
              <%= f.text_area :content,
                              :size => "5",
                              :placeholder => "ルーム説明を入力",
                              :class => "form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row"> 
              <%= f.label :price ,"料金",
                          :class => "col-md-3 required-a" %>
              <%= f.text_field :price,
                               :placeholder => "一日あたりの料金を入力",
                               :class => "form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row"> 
              <%= f.label :address ,"住所",
                          :class => "col-md-3 required-a" %>
              <%= f.text_field :address,
                               :placeholder => "住所を入力",
                               :class => "form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :icon ,"ルーム画像",
                          :class => "col-md-3 required-a" %>
              <%= f.file_field :icon,
                               :placeholder => "ルーム画像をアップロード",
                               :class => "mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.submit "登録", :class => "col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>